.list {
  background-color: #f7f7f7;
  padding-top: 60px;
  h2 {
    margin-left: 80px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 0 80px;
  gap: 20px;
}
