* {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 8px 0;
}
.headerLogo {
  display: flex;
  align-items: center;
  margin-left: 32px;
}
.headerText {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 15px;
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
  padding-left: 10px;
}
.headerText img {
  margin-left: 8px;
}

.cart {
  margin-right: 20px;
  Button {
    padding: 10px 40px;
  }
  img {
    margin-left: 10px;
  }
}

.badge {
  span {
    color: black;
  }
}
